<mat-card class="h-full flex flex-col">
    <form [formGroup]="formGroup" (ngSubmit)="onAddTodo()">
        <div id="barre-saisie" class="flex gap-5 m-6">
            <mat-form-field class="flex-1" appearance="outline">
                <input formControlName="title" id="task-to-add" matInput placeholder="Add To-do here">
            </mat-form-field>

            <button id="add-task-button" mat-fab type="submit"> 
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>

    <div id="todo-list">
        <mat-list>
            @for(todo of todos; track todo.id){
            <mat-list-item>
                <div class="flex items-center">
                    <mat-checkbox [checked]="todo.completed" (change)="onUpdateTodo($event,todo)"> </mat-checkbox>
                    <span [routerLink]="['/todo-detail', todo.id]" class="flex-1 cursor-pointer">{{todo.title}}</span>
                    <button mat-icon-button (click)="onRemoveTodo(todo)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            }
        </mat-list>
    </div>
</mat-card>

 