<!-- @if(formGroup = !null) { }-->

<mat-card class="flex-1 items-center p-6 rounded-xl shadow-md">
    <mat-card-header>
        <mat-card-title class="text-center"> To do details </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="formGroup">
        <form [formGroup]="formGroup" class="m-6" (ngSubmit)="onSubmitTodo()">
            <div>
                <mat-form-field class="w-full">
                    <mat-label>User connected</mat-label>
                    <input matInput type="text" formControlName="userConnected" readonly />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label> Title </mat-label>
                    <input formControlName="title" matInput type="text" placeholder="title">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label> Priority </mat-label>
                    <mat-select formControlName="priority">
                        @for (item of listPriority; track item.value) {
                        <mat-option [value]="item.value">{{item.priority}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label>Due Date</mat-label>
                    <input formControlName="dueDate" matInput [matDatepicker]="picker">
                    <!--<mat-hint> DD/MM/YY </mat-hint>-->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label> Member(s) </mat-label>
                    <mat-chip-grid #chipGrid aria-label="member selection">
                        @for (member of selectedMembers; track $index) {
                        <mat-chip-row (removed)="remove(member.id)">
                            {{member.name}}
                            <button matChipRemove [attr.aria-label]="'remove '+ member.name">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                    </mat-chip-grid>
                    <input name="currentMember" placeholder="New member..." #memberInput [formControl]="currentMember"
                        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                        (input)="onCurrentMemberChange(memberInput.value)" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        @for (member of filteredMembers; track member) {
                        <mat-option [value]="member.id">{{member.name}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label>Project</mat-label>
                    <mat-select formControlName="projectId">
                        @for (item of project; track item.id) {
                        <mat-option [value]="item.id">{{item.title}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="m-4">
                <mat-checkbox formControlName="completed"> Completed </mat-checkbox>
            </div>
            <mat-card-actions class="flex justify-between">
                <button mat-flat-button type="submit" [disabled]="formGroup.pristine">Save</button>
                <button mat-flat-button type="button" routerLink="">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>