<div class="h-screen">
    <div class="flex items-center justify-center h-screen">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="shadow-2xl p-7 bg bg-white rounded-4xl">
            <h1 class="text-center"> Create your account </h1>
            <h2>Please enter your information </h2>

            <div>
                <mat-form-field class=" w-full">
                    <mat-label> Last Name </mat-label>
                    <input formControlName="lastName" matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class=" w-full">
                    <mat-label> First Name </mat-label>
                    <input formControlName="firstName" matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class=" w-full">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre">
                        @for (genre of listGenre; track genre.value) {
                        <mat-option [value]="genre.value">{{genre.text}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class=" w-full">
                    <mat-label> Login User </mat-label>
                    <input id="email-signup" formControlName="email" matInput type="email" placeholder="Enter your email"
                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label> Password </mat-label>
                    <input id="password-signup" matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                        placeholder="Min. 8 characters"> <!-- pattern="/^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,12}$/g" -->
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class=" w-full">
                    <mat-label> Confirm your password </mat-label>
                    <input id="password-signup-confirm" formControlName="passwordConfirm" matInput type="password">
                </mat-form-field>
            </div>

            <div id="password-not-matching" *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('passwordConfirm')?.touched"
                class="text-red-500 text-sm mt-2 mb-2">
                Passwords do not match.
            </div>
            <div id="error-message" *ngIf="errorMessage" class="error-message text-red-500 text-sm mt-2 mb-2">
                {{ errorMessage }}
            </div>
            <span>All (*) are required</span>

            <button id="signup-button" [disabled]="signupForm.invalid" mat-flat-button type="submit" class="w-full m-4"> Sign Up </button>

        </form>
    </div>
</div>