<mat-sidenav-container>
   <!--- tt ce qu'il y a dans sidenav est caché --->
   <mat-sidenav #sidenav mode="side"> <!--- variable template #id réutilisé ds fct click --->
      <!--- bleu clair: directive ou ppté=: comportement: va sur coté et fixe sur tte la hauteur de l'écran--->
      <mat-nav-list>
         <a mat-list-item routerLink=""> Home - list</a>
         <a mat-list-item routerLink="/login">Login</a>
         <a mat-list-item routerLink="/sign-up">Sign Up</a>
         <a mat-list-item routerLink="/todo-table">Table of Todo list</a>
         <a mat-list-item routerLink="/dashboard">Dashboard</a>
         @if(authService.isAdmin) {
         <a mat-list-item routerLink="/user-list">User List</a>
         }
         <a mat-list-item routerLink="/profil">Profil</a>
         <a mat-list-item *ngIf="authService.currentUser$ | async as currentUser" (click)="logoutButton()">
            Log out&nbsp;<strong>: {{ currentUser.username }}</strong>
         </a>
      </mat-nav-list>
   </mat-sidenav>

   <mat-sidenav-content>
      <div class="flex flex-col h-screen">
         <div id="div-toolbar">
            <mat-toolbar>
               <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
               </button>
               <span>
                  {{title}}
               </span>
            </mat-toolbar>
         </div>
         <div id="div-router" class="flex-1">
            <router-outlet /> <!--- tt ce qu'il y a avant router/outlet est visible--->
         </div>
      </div>


   </mat-sidenav-content>
</mat-sidenav-container>