 <table mat-table [dataSource]="todos">   
        <!--- table [dataSource] ="": source des données, évite la boucle for -->
        <!--- Note that these columns can be defined in any order -->
        <ng-container matColumnDef="id">  <!--- matColumnDef, will define order later-->
            <th mat-header-cell *matHeaderCellDef> Id </th> <!-- titre dde la colonne -->
            <td mat-cell *matCellDef="let todo"> {{todo.id}} </td> <!-- contenu de la cellule-->
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let todo"> {{todo.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef=" let todo "> {{todo.description}} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Priority </th>
            <td mat-cell *matCellDef=" let todo "> {{todo.priority}} </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef> Due Date </th>
            <td mat-cell *matCellDef=" let todo "> {{todo.dueDate | date:'d MMMM y'}} </td> <!-- pipe date: date s'affiche sans l'heure-->
        </ng-container>

        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> Completed </th>
            <td mat-cell *matCellDef=" let todo "> {{todo.completed ? 'Yes' : 'No'}}  </td><!-- si completed affiche Yes-->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description', 'priority', 'dueDate','completed']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'description','priority', 'dueDate','completed']"></tr>
    <!-- <tr mat-header-row>: affiche titre colonnes
          *matHeaderRowDef donne l'ordre des colonnes
         <tr mat-row>: affiche lignes de données
          *matRowDef donne ligne et données l'ordre 
          peut être défini ds export class-->
    </table>
